@use "../abstracts/variables" as var;

.btn {
    padding: 15px;
    background-color: var.$primary-color;
    border-radius: 5px;
    text-decoration: none;
    color: var.$color-white;
    display: inline-block;
}