@use "../abstracts/variables" as var;

.banner {
    background-image: url(../img/PHOTO-BUEAU.jpg);
    padding: 60px 0;
    color: var.$color-white;

    span {
        color: var.$title-color;
    }
}