.presentation {
    .container {

        .presentation-container {
            display: flex;
            justify-content: center;
            gap: 20px;

            .presentation-content {
                text-align: center;
            }
        }
    }
}