.title {
    margin-top: 50px;
    text-align: center;

    .presentation {

        .presentation-container {
            display: flex;
            justify-content: center;
            gap: 20px;

            .presentation-content {
                text-align: center;
                max-width: 400px;

                .btn-container {
                    .btn {
                        margin-top: 50px;
                    }
                }
            }
        }
    }
}